<!--<h1>
  {{title}}
</h1>-->
<!--<div *ngIf="selectedHero">
<h2>
  {{selectedHero.name}} details!!!!
</h2>
<div>
  <label>id:</label>{{selectedHero.id}}
</div>
<div>
  <label>name:</label>
  <input [(ngModel)]="selectedHero.name" placeholder="name"/>
</div>
</div>-->

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->


<h2>My Heroes!!!</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onselect(hero)" [class.selected]="isSelected(hero)">
        <span class="badge">{{hero.id}}></span>{{hero.name}}
        <button class="delete" (click)="deleteHero(hero);$event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name|uppercase}} is my Hero
  </h2>
  <button (click)="goToDetails()">View Details</button>
</div>

<div>
  <input #heroName>
  <button (click)="addHero(heroName.value);heroName.value=''">
    Add
  </button>
</div>